<div id="sign-in">
  <h1>Sign In</h1>

  <form action="/session" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label>Email<br>
      <input name="user[email]" type="text"><br>
    </label><br>
    <label>Password<br>
      <input name="user[password]" type="password"><br>
    </label><br>
    <input type="submit" value="Submit" class="button"><br>
  </form>
</div>

<div id="sign-up-block">
  <p>Forget your password? Reset it <a href="/password_resets/new">here</a>.</p>
  <p>Not a member? Sign up <a href="/users/new">here</a>.</p>
</div>
