<div class="form">
  <h3> <%= header %> </h3>
  <form class="comment">
  <textarea class="comment-submit" placeholder="It was great!" size="110" height="50" rows="2"></textarea>
  <button class="comment-submit-button">Submit</button>
  </form>
</div>
