<div id="sign-up">
  <h1>Sign Up</h1>

  <form action="/users" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label>Username<br>
      <input name="user[username]" type="text"><br>
    </label><br>
    <label>Email<br>
      <input name="user[email]" type="text"><br>
    </label><br>
    <label>Password<br>
      <input name="user[password]" type="password"><br>
    </label><br>
    <input type="submit" value="Submit" class="button"><br>
  </form>
</div>

<div id="sign-up-block">
  <p>Your password is salted and encrypted, and if I ever use your email to send you spam, I give you the legal permission to steal my baby.</p>
  <p>Already a member? Sign in <a href="/session/new">here</a>.</p>
</div>
