<div class="col-md-6">
    <h2 class="home-head">Latest Finds</h2>
    <div id="latest">
    </div>
</div>

<div class="col-md-6">
  <h2 class="home-head recommendations-header">Recommendations</h2>
  <div id="recommendations">
  </div>
</div>
