<div class="col-md-6">
  <h2 class="home-head left-header">Highest Rated</h2>
  <ul class="nav nav-tabs custom-tabs">
  <li role="presentation" class="tabed"><a href="#">Most Commented</a></li>
  <li role="presentation" class="tabed activated"><a href="#">Highest Rated</a></li>
  <li role="presentation" class="tabed"><a href="#">Longest</a></li>
</ul>
  <div id="left">
  </div>
</div>

<div class="col-md-6">
    <h2 class="home-head">Latest Additions</h2>
    <div id="right">
    </div>
</div>
