<div class="col-md-6 left-box">
  <h2 class="home-head left-header">Highest Rated</h2>
  <div class="tab-container">
    <ul class="custom-tabs">
      <li id="length" role="presentation" class="tabed unactivated"><a href="#" class="single-line"><span class="tab-links">Longest</span></a></li>
      <li id="bayesian_average" role="presentation" class="tabed activated"><a href="#"><span class="tab-links">Highest<br> Rated</span></a></li>
      <li id="comments" role="presentation" class="tabed unactivated"><a href="#"><span class="tab-links">Most Commented</span></a></li>
    </ul>
  </div>
  <div id="left">
  </div>
</div>

<div class="col-md-6 right-box">
    <h2 class="home-head">Latest Additions</h2>
    <div id="right">
    </div>
</div>
