<h1 id="bookshelf">Your Bookshelf</h1>

<table id="read-works" class="tablesorter strapless">
<thead>
<tr>
    <th class="title">Title</th>
    <th class="author">Author</th>
    <th class="length">Length</th>
    <th class="avg-rating">Bayesian Rating</th>
    <th class="ratings">Ratings</th>
    <th class="rating">Your Rating</th>
</tr>
</thead>
<tbody>
