<form class="chapter-form">
  <div class="number-input input-box">
    <label class="chapter-form-item">Chapter number: </label>
    <input class="chapter-form-item number" type="text" name="number"></input>
  </div>

  <div class="link-input input-box">
    <label class="chapter-form-item" >Link: </label>
    <input class="chapter-form-item link" type="text" name="link"></input>
  </div>

  <button class="chapter-submit-button chapter-form-item">Add Chapter!</button>
</form>
