<div class="col-md-8">

    <div id="latest">
    </div>
</div>

<div class="col-md-4">
  <h3 class="home-head"><a href="/#/recommendations">More recommendations...</a></h3>
  <div id="recommendations">
  </div>
</div>
