<div class="row">
  <p class="title col-md-3"> <%= work.get("name") %> </p>
  <p class="author col-md-2"> by <%= work.get("author") %> </p>
  <div class="avg-rating col-md-1">
    <%= work.get("average_rating") %>
  </div>
  <div class="num-ratings col-md-1">
    <%= work.get("ratings") %> ratings
  </div>
  <div class="stars col-md-3">
    <div id="raty"></div>
  </div>
</div>
