  <h1>Add Work</h1>
  <form class="work-form-item">
  <label class="work-form-item">Title: </label>
  <input class="work-form-item" type="text" name="name"></input>
  <label class="work-form-item" >Author: </label>
  <input class="work-form-item" type="text" name="author"></input>
  <label class="work-form-item">Length: </length>
  <select class="work-form-item" name="length">
    <option value="Short">Short (< 25k words)</option>
    <option value="Medium">Medium (< 100k)</option>
    <option value="Long">Long (< 500k)</option>
    <option value="Epic">Epic</option>
  </select>
  <labelclass="work-form-item" >Link: </label>
  <input class="work-form-item" type="text" name="link"></input>
  <labelclass="work-form-item" >Description: </label>
  <textarea class="work-submit work-form-item" name="description" size="110" height="50" rows="2"></textarea>
  <button class="work-submit-button work-form-item">Add Work!</button>
  </form>
