  <h1 id="new-work">Add Work</h1>
  <form class="work-form-item work-form">
  <label class="work-form-item">Title </label>
  <input class="work-form-item title" type="text" name="name"></input>

  <div class="author-input input-box">
    <label class="work-form-item author-label" >Author </label>
    <input class="work-form-item author" type="text" name="author"></input>
  </div>
  <div class="length-input input-box">
    <label class="work-form-item">Length </label>
    <select class="work-form-item length" name="length">
      <option value="Short">Short (< 25k words)</option>
      <option value="Medium">Medium (< 100k)</option>
      <option value="Long">Long (< 500k)</option>
      <option value="Epic">Epic</option>
    </select>
  </div>

  <div class="link-input input-box">
    <label class="work-form-item" >Link </label>
    <input class="work-form-item link" type="text" name="link"></input>
  </div>

  <div class="description-input input-box">
    <label class="work-form-item" >Description </label>
    <textarea class="work-submit work-form-item" name="description" size="110" height="50" rows="2"></textarea>
  </div>

  <% tags.forEach( function (tag) { %>
    <input type="checkbox" name="taggings" value="<% tag.get("name") %>">
  <% }) %>
  <button class="work-submit-button work-form-item">Add Work!</button>
  </form>
