// Place all the styles related to the Chapters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chapter-block {
  background-color: #57beed;
  border: 5px solid #1F8DBF;
  width: 40px;
  height: 40px;
  float: left;
  display: block;
  margin: 10px;
}

div.link {
  margin-left:8px;
  margin-top:5px;
  display: block;
}

a.chapter {
  font-weight: bold;
  color: white;
}

.rating05 {
  background-image: -webkit-linear-gradient(left, #fe3881, #fe3881 10%, transparent 10%, transparent 100%);
  background-image: linear-gradient(left, #fe3881, #fe3881 10%, transparent 10%, transparent 100%);
}

.rating10 {
  background-image: -webkit-linear-gradient(left, #fe3881, #fe3881 20%, transparent 20%, transparent 100%);
  background-image: linear-gradient(left, #fe3881, #fe3881 20%, transparent 20%, transparent 100%);
}

.rating15 {
  background-image: -webkit-linear-gradient(left, #fe3881, #fe3881 30%, transparent 30%, transparent 100%);
  background-image: linear-gradient(left, #fe3881, #fe3881 30%, transparent 30%, transparent 100%);
}

.rating20 {
  background-image: -webkit-linear-gradient(left, #fe3881, #fe3881 40%, transparent 40%, transparent 100%);
  background-image: linear-gradient(left, #fe3881, #fe3881 40%, transparent 40%, transparent 100%);
}

.rating25 {
  background-image: -webkit-linear-gradient(left, #fe3881, #fe3881 50%, transparent 50%, transparent 100%);
  background-image: linear-gradient(left, #fe3881, #fe3881 50%, transparent 50%, transparent 100%);
}

.rating30 {
  background-image: -webkit-linear-gradient(left, #fe3881, #fe3881 60%, transparent 60%, transparent 100%);
  background-image: linear-gradient(left, #fe3881, #fe3881 60%, transparent 60%, transparent 100%);
}

.rating35 {
  background-image: -webkit-linear-gradient(left, #fe3881, #fe3881 70%, transparent 70%, transparent 100%);
  background-image: linear-gradient(left, #fe3881, #fe3881 70%, transparent 70%, transparent 100%);
}

.rating40 {
  background-image: -webkit-linear-gradient(left, #fe3881, #fe3881 80%, transparent 80%, transparent 100%);
  background-image: linear-gradient(left, #fe3881, #fe3881 80%, transparent 80%, transparent 100%);
}

.rating45 {
  background-image: -webkit-linear-gradient(left, #fe3881, #fe3881 90%, transparent 90%, transparent 100%);
  background-image: linear-gradient(left, #fe3881, #fe3881 90%, transparent 90%, transparent 100%);
}

.rating50 {
  background-image: -webkit-linear-gradient(left, #fe3881, #fe3881 100%, transparent 100%, transparent 100%);
  background-image: linear-gradient(left, #fe3881, #fe3881 100%, transparent 100%, transparent 100%);
}

.to-work {
  color: black;
}

.link-to-chapter {
  margin-top:40px;
}

// New chapter

.chapter-form {
  clear: both;
  display:block;
  width: 800px;
}

.chapter-form-item{
  float: left;
  display: block;
  font-weight: normal;
}

.chapter-form .number-input, .chapter-form .link-input {
  float: left;
  clear: none;
}

input.number, input.link {
  width: 35px;
  height: 18px;
  margin-left: 10px;
  line-height: 14px;
}

.chapter-form input.link {
  width: 400px;
}

.chapter-form .link-input label {
  margin-left: 25px;
}

button.chapter-submit-button {
  background-color: #df962f;
  color: #FFFFFF;
  padding: 5px;
  font-weight: bold;
  float: left;
  margin-left: 25px;
  margin-top: 3px;
  border-radius: 5px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  border: 1px solid #808080;
}


// .input-box {
//   padding-top: 15px;
// }
