// work chapter div

#chapters {
  width: 830px;
  padding-left: 15px;
}

//smooth form transition

div.centered div#chapters .hidden-chapter-form {
  display: none;
  // border: 1px solid transparent;
  margin: 0px;
  padding: 0px;
  width: 800px;
  height: 40px;
}

// plus block

.plus-block:hover .plus-sign{
  color: #FD6E6E;
}

.plus-block:hover {
  cursor: pointer;
}

.plus-sign {
  font-size: 20px;
  margin-left: 6px;
  margin-top: 2px;
  color: white;
}

a.chapter-form-link {
  float: right;
  margin-right: 215px;
}

// Coloring of blocks

.chapter-block {
  background-color: #1ABDD6;
  border: 5px solid #1F8DBF;
  width: 40px;
  height: 40px;
  float: left;
  display: block;
  margin: 10px;
}

div.link {
  width: 30px;
  margin-top:5px;
  text-align: center;
}

a.chapter {
  font-weight: bold;
  color: white;
  width: 100%;
  display: inline;
}

a.chapter:hover {
  color: black;
  text-decoration: none;
}

.rating05 {
  background-image: -webkit-linear-gradient(left, #FD6E6E, #FD6E6E 0%, transparent 0%, transparent 100%);
  background-image: linear-gradient(left, #FD6E6E, #FD6E6E 0%, transparent 0%, transparent 100%);
}

.rating10 {
  background-image: -webkit-linear-gradient(left, #FD6E6E, #FD6E6E 20%, transparent 20%, transparent 100%);
  background-image: linear-gradient(left, #FD6E6E, #FD6E6E 20%, transparent 20%, transparent 100%);
}

.rating15 {
  background-image: -webkit-linear-gradient(left, #FD6E6E, #FD6E6E 30%, transparent 30%, transparent 100%);
  background-image: linear-gradient(left, #FD6E6E, #FD6E6E 30%, transparent 30%, transparent 100%);
}

.rating20 {
  background-image: -webkit-linear-gradient(left, #FD6E6E, #FD6E6E 40%, transparent 40%, transparent 100%);
  background-image: linear-gradient(left, #FD6E6E, #FD6E6E 40%, transparent 40%, transparent 100%);
}

.rating25 {
  background-image: -webkit-linear-gradient(left, #FD6E6E, #FD6E6E 50%, transparent 50%, transparent 100%);
  background-image: linear-gradient(left, #FD6E6E, #FD6E6E 50%, transparent 50%, transparent 100%);
}

.rating30 {
  background-image: -webkit-linear-gradient(left, #FD6E6E, #FD6E6E 60%, transparent 60%, transparent 100%);
  background-image: linear-gradient(left, #FD6E6E, #FD6E6E 60%, transparent 60%, transparent 100%);
}

.rating35 {
  background-image: -webkit-linear-gradient(left, #FD6E6E, #FD6E6E 70%, transparent 70%, transparent 100%);
  background-image: linear-gradient(left, #FD6E6E, #FD6E6E 70%, transparent 70%, transparent 100%);
}

.rating40 {
  background-image: -webkit-linear-gradient(left, #FD6E6E, #FD6E6E 80%, transparent 80%, transparent 100%);
  background-image: linear-gradient(left, #FD6E6E, #FD6E6E 80%, transparent 80%, transparent 100%);
}

.rating45 {
  background-image: -webkit-linear-gradient(left, #FD6E6E, #FD6E6E 90%, transparent 90%, transparent 100%);
  background-image: linear-gradient(left, #FD6E6E, #FD6E6E 90%, transparent 90%, transparent 100%);
}

.rating50 {
  background-image: -webkit-linear-gradient(left, #FD6E6E, #FD6E6E 100%, transparent 100%, transparent 100%);
  background-image: linear-gradient(left, #FD6E6E, #FD6E6E 100%, transparent 100%, transparent 100%);
}

.to-work {
  color: black;
}

.link-to-chapter {
  margin-top:20px;
}

// New chapter

.chapter-form {
  clear: both;
  display:block;
  width: 800px;
}

.chapter-form-item{
  float: left;
  display: block;
  font-weight: normal;
}

.chapter-form .number-input, .chapter-form .link-input {
  float: left;
  clear: none;
}

.chapter-form input.number, .chapter-form input.link {
  width: 35px;
  margin-left: 10px;
  line-height: 14px;
}

.chapter-form input.link {
  width: 400px;
}

.chapter-form .link-input label {
  margin-left: 25px;
}

.chapter-form label {
  font-size: 16px;
}

.chapter-form {
  height: 45px;
}

button.chapter-submit-button {
  background-color: #1ABDD6;
  color: #FFFFFF;
  padding: 5px;
  float: right;
  margin-right: 15px;
  margin-top: 7px;
  border-radius: 5px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  border: 1px solid #808080;
}
