.home-head {
  // text-align: left;
  display: block;
  margin-left: 30px;
}

#main .home-body {
  margin-left: -50px;
  position: relative;
}

.home-display {
  margin-left: 30px;
  margin-right: 30px;
}

.home-display .inner-work {
  margin-bottom: 15px;
  background-color: yellow;
  border-radius: 5px;
  padding:20px;
}

.left-bottom {
  float:right;
  margin-right:28px;
  margin-top:-6px;
}

.left-bottom a:hover {
  text-decoration: none;
}
// styling of left column

#left p{
  font-size: 16px;
  font-family: Georgia,"Times New Roman",Times,serif;
}

#left .title a {
  font-size:26px;
  color: blue;
}

#number-0 .link-link {
  color: aqua;
}

#left .work {
  margin-top:-30px;
}

#left #number-0 {
  margin-top: 0px;
}

#left #number-1 {
  width:88%;
  margin-left:7.25%;
}

#left #number-2 {
  width:86%;
  margin-left:9.25%;
}

#left #number-3 {
  width:84%;
  margin-left:11.25%;
}

#left #number-4 {
  width:82%;
  margin-left:13.25%;
}

#left #number-0 .inner-work {
  background: -moz-linear-gradient(center top , #FE3881 0%, #ED0158 100%) repeat scroll 0% 0% transparent;
  background: -webkit-linear-gradient(top, #fe3881 0%,#ed0158 100%);
  color: white;
}

#left #number-1 .inner-work {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa53d), color-stop(100%,#f58300));
  background: -moz-linear-gradient(center top , #FFA53D 0%, #F58300 100%) repeat scroll 0% 0% transparent;
}

#left #number-2 .inner-work {
  background: -webkit-linear-gradient(top, #fee531 0%,#e6cb01 100%);
  background: -moz-linear-gradient(center top , #FEE531 0%, #E6CB01 100%) repeat scroll 0% 0% transparent;
}

#left #number-3 .inner-work {
  background: -webkit-linear-gradient(top, #beeb4f 0%,#a2da19 100%);
  background: -moz-linear-gradient(center top , #BEEB4F 0%, #A2DA19 100%) repeat scroll 0% 0% transparent;
}

#left #number-4 .inner-work {
  background: -webkit-linear-gradient(top, #57beed 0%,#189ddb 100%);
  background: -moz-linear-gradient(center top , #57BEED 0%, #189DDB 100%) repeat scroll 0% 0% transparent;
}

#left #number-4 .link-link {
  color: blue;
}

#left .stats .stars .transition {
  margin-top: -1px;
}

// styling of right column

#right .stats .stars .transition {
  margin-top:1px;
}

#right .title-and-author p {
  float: left;
  display: block;
}

#right .title-and-author p.author {
  margin-top: 7px;
  margin-left:15px !important;
}

#right .stats {
  clear: both;
}

#right .home-display .inner-work {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 1px;
  border-bottom: solid black;
  border-bottom-left-radius: 0em;
  padding-left:0px;
}

// nav tab styling

.home-head {
  float:left;
}

#main div ul.custom-tabs {
  border-bottom: none;
  vertical-align: bottom;
  margin-top:21px;
  padding-left:30px !important;
  display:block;
}

#main div ul.custom-tabs li[role=presentation] {
  padding: 0px;
  color: white !important;
}

.home-display {
  clear: both;
}
