.home-head {
  text-align: center;
  display: block;
}

#main .home-body {
  margin-left: -50px;
  position: relative;
}

.home-display {
  margin-left: 30px;
  margin-right: 30px;
}

.home-display .inner-work {
  margin-bottom: 15px;
  background-color: yellow;
  border-radius: 5px;
  padding:20px;
}
