//styling to get both columns equal height

.row{
    overflow: hidden;
}

[class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

//styling for different widths

@media (max-width: 490px) {
  #search-bar  {
    display: none !important;
  }
}

@media (max-width: 520px) {
  .tab-container  {
    display: none !important;
  }
}

@media (max-width: 993px) {

  #main{
    margin-right: 0px !important;
  }

  .left-box  {
    padding-left: 0px;
    margin-left: 0px;
  }

  .left-box .home-display {
    margin-left: 0px;
  }

  h2.left-header {
    margin-top: 30px;
    margin-left: 20px;
  }

  .home-page {
    background-image: none !important;
  }

  #left .left-bottom {
    margin-top: -30px;
  }

  .tab-container {
    right: 50px !important;
    top: 3px !important;
    height:35px;
    display: inline;
  }

  #main div ul.custom-tabs li.tabed {
    font-size: 12px !important;
    width: 75px !important;
  }

  #right {
    background-color: white;
    margin-left: -20px;
  }
}

@media (max-width: 1065px) {
  #right div.date {
    display: none;
  }

  #main div ul.custom-tabs li {
    font-size: 10px;
    width: 60px !important;
  }
}

@media (max-width: 1100px) {
  #left div.date {
    display: none;
  }
}

@media (max-width: 1121px) {
  h2 {
    font-size:26px !important;
  }

}

@media (max-width: 1185px) {
  #right div.length {
    display: none !important;
  }
}

@media (max-width: 1270px) {
  span.length {
    display: none;
  }
}

@media (max-width: 1340px) {
  #left div.length {
    display:none;
  }
  #left .home-display {
    padding-bottom: 2px;
  }
}

.home-page {
  background-image: -webkit-linear-gradient(left, #FAE5E5, #FAE5E5 50%, transparent 50%, transparent 100%);
  background-image: linear-gradient(left, #FAE5E5, #FAE5E5 50%, transparent 50%, transparent 100%);
}

div.col-md-6 h2.home-head {
  display: block;
  margin-left: 40px;
  margin-top: 35px;
}

.left-box {
  background-color: #FAE5E5;
}

h3.home-bottom a:hover{
  text-decoration: none !important;
  color: red
}

#main .home-page {
  margin-left: -50px;
  position: relative;
  margin-top: -23px;
}

.home-display {
  margin-left: 30px;
  margin-right: 30px;
}

#right .home-display {
  margin-right: 0px;
}

.left-bottom {
  float:right;
  margin-right:28px;
  margin-top:-6px;
}

.left-bottom a:hover {
  text-decoration: none;
}

#left div.centered {
  display: block;
  margin: 0;
  width: 100%;
}

#right div.centered {
  display: block;
  margin: 0;
  width: 100%;
}

// styling of left column

#main .row .left-box #left .left-hidden {
  margin-left: -500px;
  opacity: 0;
}

#left p, .left-header {
  color: black;
}

.left-header {
  margin-left: 50px;
}

.left-box {
  height: 100%;
}

#left {
  margin-top:-10px;
}

#number-0 {
  padding-top: 0px;
}

#left .stats .stars .transition {
  margin-top: 1px;
}

// styling of right column

span.length {
  margin: 0px !important;
  padding: 0px;
}

#right .stats .stars .transition {
  margin-top:1px;
}

#right .title-and-author p {
  float: left;
  display: block;
}

#right .title-and-author p.title {
  margin-right: 15px;
}

#right .title-and-author p.author {
  margin-top: 7px;
  margin-bottom: 7px;
}

#right .stats {
  clear: both;
}

#right .home-display .inner-work {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 1px;
  border-bottom: solid #72ce3f thin;
  border-bottom-left-radius: 0em;
  border-bottom-right-radius: 0em;
  padding-left:0px;
  padding-right:0px;
  padding-top: 4px;
  padding-bottom: 10px;
}

// nav tab styling

.home-head {
  float:left;
}

#main div ul.custom-tabs {
  vertical-align: bottom;
  margin-top:18px;
  height: 30px;
  font-size: 12px;
  list-style:none;
  padding-left:0px;
}

.tab-container {
  position:absolute;
  right: 5px;
  top: 15px;
  height:35px;
  display: inline;
}

#main div ul.custom-tabs li.activated {
background-color: #EB7C7C;
border: thin #FF5959 solid;
}

#main div ul.custom-tabs li.activated a{
color: white;
}

#main div ul.custom-tabs li.unactivated:hover {
}

#main div ul.custom-tabs li {
  width: 75px;
  height: 35px;
  text-align: center;
  margin-right: 2px;
  color: black;
  float:left;
  position: relative;
}

#main div ul.custom-tabs li a {
  padding: 0px;
  padding-top:6px;
  line-height:11px;
  color: black;
  display: block;
  vertical-align: bottom;
  text-decoration: none;
}

a.single-line {
  margin-top: 5px;
}

.tabed {
  border: none;
  border-top-left-radius: 2px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 2px;
}

.activated {

}

.home-display {
  clear: both;
}
