div.leaderboard #read-works {
  width: 400px;
  margin: 0 auto;
}

#leaderboard {
  text-align: center;
}

.leaderboard p {
  text-align: center;
}

div.leaderboard {
  width: 510px !important;
}

div.leaderboard #read-works .username{
  font-weight: bold;
  font-size: 16px;
}

th.ranking {
  width: 30px;
}

th.username2 {
  width: 200px;
}

th.points {
  width: 60px;
}
