nav.navbar {
  background-color: #FD6E6E;
}

nav.navbar ul.nav a{
  color: white !important;
}

nav a.navbar-brand {
  color: #000000 !important;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
}
