nav.navbar {
  background-color: #FD6E6E;
}

nav.navbar ul.nav a{
  color: white !important;
}

nav a.navbar-brand {
  color: #4B4975 !important;
}

nav a.navbar-brand #first{
  color: white !important;
}

nav a.navbar-brand #second{
  color: black !important;
}

.navbar ul.nav a:hover{
  color: black !important;
}

.navbar {
  border-bottom: none !important;
}

.navbar-brand {
  margin-right: 27px !important;
}
