// styling tags section

div.tags {
  padding-top:15px;
}

div.tag-box {
  border-top: 2px solid #72ce3f;
  border-bottom: 2px solid #72ce3f;
  font: normal 16px/1.5em 'PT Serif', arial, sans-serif;
  overflow: hidden;
  width: 785px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.tag-item {
  font-weight: normal;
  position: relative;
  bottom: 2px;
  height: 20px;
}

div.tag-column {
  margin-right: 30px;
  float: left;
}

.tag-item {
  clear: both;
}
// Other

.new-work {
display:block;
}

.work-form-item{
  display: block;
  padding-left:5px;
}

input, select {
  border: 2px solid rgba(0,0,0,.1);
  font: normal 16px/1.5em 'PT Serif', arial, sans-serif;
  border-radius: 5px;
}

.length-input label {
  height: 20px;
}

select.length {
  border-color: #72ce3f;
  background-color: white;
  height: 27px;
  padding: 1px;
}

#main input {
  border-color: #72ce3f;
}

textarea.work-submit {
  border: 2px solid;
  border-color: #72ce3f;
  padding: 5px;
  width: 785px;
  font: normal 16px/1.5em 'PT Serif', arial, sans-serif;
  overflow: auto;
  border-radius: 5px;
}

button.work-submit-button {
  background-color: #1ABDD6;
  color: #FFFFFF;
  padding: 5px;
  float: right;
  margin-right: 15px;
  margin-top: 11px;
  border-radius: 5px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  border: 1px solid #808080;
}

.work-form {
  width: 800px;
}

input.title {
  width: 400px;
}

input.author {
  width: 200px;
}

div.author-input, div.length-input {
  float: left;
}

div.length-input {
  margin-left: 20px;
}

div.link-input {
  clear: both;
}

input.link {
  width: 400px;
}

.input-box {
  padding-top: 15px;
}

form label.work-form-item {
  font-weight: normal;
}
