.follow-form {
  clear: both;
  margin-left: 15px;
  font-family: 'Raleway', sans-serif;
}

.follow-form .main{
  margin-right:10px;
}

.follow-form label{
  font-weight: normal;
}

.follow-form span{
  font-weight: bold;
  margin-left: 15px;
}
