// Place all the styles related to the Ratings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.transition {
  position:relative;
  padding:0px;
  margin:0px;
}

.stars {
  width:120px;
  padding:0px;
  color: blue;
}

.avg-rating {
  width: 10px;
}
