// Place all the styles related to the Ratings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.transition {
  position:relative;
  padding:0px;
  margin:0px;
}

.stars {
  width:78px;
  padding:0px;
  color: blue;
  margin-right:0px;
  margin-top:-1px;
}

.avg-rating {
  width: 10px;
}

.raty img {
  padding:0px;
  margin-left:-4px;
}

.stats div.stars .raty{
  margin-right: 0px;
  margin-left: 2px;
}
