// Place all the styles related to the Ratings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.transition {
  position:relative;
  padding:0px;
  margin:0px;
}

.stars {
  width:78px;
  padding:0px;
  color: blue;
  margin-right:0px;
  margin-top:-1px;

  &.stars-wide {
    width: 200px;
  }
}

.avg-rating {
  width: 10px;
}

.raty img {
  padding:0px;
  margin-left:-4px;
}

.stats div.stars .raty{
  margin-right: 0px;
  margin-left: 2px;
}

// controls the rating display of the work show page

.rating-bars{
  float: left;
  width: 480px;
}

.non-rating-stats{
  float:left;
}

.rating-bar{
  width:225px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  height: 10px;
  float: left;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.rating-bar-block span {
  float: left;
}

.rating-bar-block {
  clear:both;
}

.fives{
  background-color: #00FF00;
}

.fours{
  background-color: #CCFF00;
}

.threes{
  background-color: #FFCC00;
}

.twos {
  background-color: #FF8000;
}

.ones{
  background-color: #FF3300;
}
