h1#bookshelf {
  margin-bottom: 20px;
}

table.strapless{
  max-width: 100%;
  background-color: transparent;
  border-collapse: separate;
  border-spacing: 0px;
  border-color: white !important;
}

table.strapless tr{
  border-color: white !important;
}

table {
  border-color: white;
}

#read-works {
  margin:0px;
  padding:0px;
  width: 950px;
  padding-bottom: 30px;
}

#read-works td p,a {
  margin: 0px;
  margin-top: 9px;
  margin-bottom: 9px;
}

table.tablesorter tr:nth-child(even) td{
  background-color: #F0F0F6;
}

table tr{
  font-size:16px;
}

table .title {
  width:295px;
}

table .author {
  width:175px;
}

table .length {
  width: 60px;
}

table thead th{
  height:20px;
  background: #72ce3f;
  color: white;
  color: black;
  border: 1px solid white;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-radius: 5px;
}

table .avg-rating {
  width: 80px;
}

table .ratings {
  width: 60px;
}

table .rating {
  width: 80px;
}

p.empty {
  margin-top:10px;
  font-size: 24px;
}
