#search-bar {
  margin-top:10px;
  width:295px;
  float:left;
  display: block;
}

#search-icon {
  margin-left: -30px;
}

input.search {
  padding-left:6px;
  height: 22px;
  border-radius: 5px;
  margin-top:5px;
  font-size: 12px !important;
  line-height:17px !important;
  width: 200px;
}

.search-bar input {
  border: 2px solid rgba(0,0,0,.1);
  font: normal 16px/1.5em 'PT Serif', arial, sans-serif;
  margin-right:7px;
}

.search-item {
  display: block;
}

.search-item-box:hover{
  background-color: #1ABDD6 !important;
}

.hovered-box{
  background-color: #1ABDD6 !important;
}

.hovered-box .search-link{
  color: white;
}

.search-item-box:hover .search-link{
  color: white;
}

#autocomplete {
  position: absolute;
  background-color:purple;
  padding:0px;
  border-radius:50px;
}

.search-item-box {
  border: thin solid;
  border-left-color: #72ce3f;
  border-right-color: #72ce3f;
  margin-top:-2px;
  background-color: white;
  padding: 5px;
  display: block;
  position:relative;
   z-index:100;
}

.search-link {
  color: #1ABDD6;
  font-family: 'Raleway', sans-serif;
}

.search-link:hover {
  color:white;
  text-decoration: none;
}
