#search-bar {
  margin-top:10px;
  width:295px;
  float:left;
  display: block;
}

.search-bar input {
  border: 2px solid rgba(0,0,0,.1);
  font: normal 16px/1.5em 'PT Serif', arial, sans-serif;
  margin-right:7px;
}
