// global index style (messes up home page styling)

.inner-work {
  margin-left: 20px;
  margin-top:10px;
  padding-bottom: 0px !important;
}

.index .index-display {
  border-bottom: solid  1px;
  border-color: #72ce3f;
}

.stats {
  color: #FD6E6E;
}

.index a.blended-link {
  color: #FD6E6E;
}

.index a.blended-link:hover {
  text-decoration: underline;
}

.index a{
  color: #1ABDD6;
}

.index a:hover{
  color: red;
  text-decoration: none;
}

.index p.description {
  font-size: 16px;
}

.index .num-ratings {
  padding-right: 20px;
}
// styling hover effect

.hover {
  font-size: 120%;
}
//styling index page

.stats .stars .raty p.transition {
  font-size: 13px !important;
  margin-top:3px;
  color: #1ABDD6;
}

div.centered {
  display: block;
  margin: 0 auto;
  width: 1000px;
}

#all-works + .index .inner-work, #recs + .index .inner-work, #search-results + .index .inner-work {
  background-color: white;
  padding-top: 4px;
  padding-bottom: 8px;
  border-bottom-left-radius: 0em;
  border-bottom-right-radius: 0em;
  padding-left:0px;
  padding-right: 200px;
}

.index > div:last-child .inner-work {
  border-bottom: none !important;
}

#search-results + .index .index-display {
  width: 1000px;
}

#all-works + .index .index-display, #recs + .index .index-display {
  width: 1000px;
}

// styling works show

#work-info div.avg-rating{
  padding-right:50px;
  margin-right: 10px;
}

#work-info div.num-ratings{
  margin-right:50px;
}

#work-info div.num-comments{
  padding-right:20px;
}

#work-info div.date{
  padding-right:20px;
}

#work-info p.description {
  font-size: 16px;
  padding-top:10px;
}

// styling all works

.inner-work {
  margin-bottom: 15px;
  border-radius: 5px;
  padding:10px;
}

.work .title{
  font-weight:bold;
  font-size: 22px;
  margin-bottom:4px;
  line-height:24px;
}

.work .author {
  font-size:80%;
  margin-bottom:4px;
}

#main h1 {
}

.stats {
  margin-top:5px;
  margin-bottom:30px;
  padding-left:0px;
}

.stats div {
  padding-right:0px;
  float: left;
  display: block;
  margin-left: 0px;
  margin-right: 7px;
  font-size:13px;
}

.stats div.num-ratings-number {
  margin-right: 6px;
}

.stats .avg-rating {
  margin-right:35px;
  margin-left: 0px;
  display: block;
}

.stats .date {
  margin-left:20px;
}

.stats .length {
  margin-left: 20px;
}

.description {
  clear: both;
}
.read-header {
  font-weight:bold;
}

#work-info {
  max-width:800px;
}

// For show_more plugin

a.more:hover {
  cursor: pointer;
  text-decoration: none;
}

a.more {
  color: blue;
  margin-left:5px;
}

.hidden-display {
  display:none;
  margin-top:16px;
}
