//styling index page

.stats .stars .raty p.transition {
  font-size: 13px !important;
}

div.centered {
  display: block;
  margin: 0 auto;
  width: 1000px;
}

#all-works + .index .inner-work {
  background-color: white;
  padding-top: 4px;
  padding-bottom: 8px;
  border-bottom: solid black;
  border-bottom-left-radius: 0em;
  padding-left:0px;
  padding-right: 200px;
}

.index > div:last-child .inner-work {
  border-bottom: none !important;
}

#search-results + .index .index-display {
  width: 1000px;
}

#search-results + .index .inner-work {
  background-color: white;
  padding-top: 4px;
  padding-bottom: 8px;
  border-bottom: solid black;
  border-bottom-left-radius: 0em;
  padding-left:0px;
  padding-right: 200px;
}

#all-works + .index .index-display {
  width: 1000px;
}

#recs + .index .inner-work {
  background-color: white;
  padding-top: 4px;
  padding-bottom: 8px;
  border-bottom: solid black;
  border-bottom-left-radius: 0em;
  padding-left:0px;
  padding-right: 200px;
}

#recs + .index .index-display {
  width: 1000px;
}

// styling works show

#work-info div.avg-rating{
  padding-right:50px;
}

#work-info div.num-comments{
  padding-right:20px;
}

#work-info div.date{
  padding-right:20px;
}

#work-info p.description {
  font-size: 16px;
  padding-top:10px;
}

// styling all works

.inner-work {
  margin-bottom: 15px;
  border-radius: 5px;
  padding:10px;
}

.work .title{
  font-weight:bold;
  font-size: 22px;
  margin-bottom:4px;
  line-height:24px;
}

.work .author {
  font-size:80%;
  margin-bottom:4px;
}

#main h1 {
}

.stats {
  margin-top:5px;
  margin-bottom:30px;
  padding-left:0px;
}

.stats div {
  padding-right:0px;
  float: left;
  display: block;
  margin-left: 0px;
  margin-right: 7px;
  font-size:13px;
}

.stats div.num-ratings-number {
  margin-right: 6px;
}

.stats .avg-rating {
  margin-right:35px;
  margin-left: 0px;
  display: block;
}

.stats .date {
  margin-left:20px;
}

.stats .length {
  margin-left: 20px;
}

.description {
  clear: both;
}
.read-header {
  font-weight:bold;
}

#work-info {
  max-width:800px;
}

// For show_more plugin

a.more:hover {
  cursor: pointer;
  text-decoration: none;
}

a.more {
  color: blue;
  margin-left:5px;
}

.hidden-display {
  display:none;
  margin-top:16px;
}

// New Work Page

.new-work {
display:block;
}

.work-form-item{
  display: block;
}

textarea.work-submit {
  border: 2px solid rgba(0,0,0,.1);
  padding: 10px;
  width: 785px;
  font: normal 16px/1.5em 'PT Serif', arial, sans-serif;
  overflow: auto;
  border-radius: 5px;
}

button.work-submit-button {
  background-color: #df962f;
  color: #FFFFFF;
  padding: 5px;
  font-weight: bold;
  float: right;
  margin-right: 15px;
  margin-top: 11px;
  border-radius: 5px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  border: 1px solid #808080;
}

.work-form {
  width: 800px;
}

input.title {
  width: 400px;
}

input.author {
  width: 200px;
}

div.author-input, div.length-input {
  float: left;
}

div.length-input {
  margin-left: 20px;
}

div.link-input {
  clear: both;
}

select.length {
  margin-top:7px;
}

input.link {
  width: 400px;
}

.input-box {
  padding-top: 15px;
}

form label.work-form-item {
  font-weight: normal;
}
