<form class="search-bar">
<input class="search" type="text" placeholder="Title"></input>
<a href="javascript:void(0)"><img id="search-icon" src="/search-icon.jpeg"></a>
</form>
<ul id="autocomplete">
</ul>
