<div class="centered">
  <h1>About</h1>

  <p>Do you enjoy rational fiction? This is a site to help you find works of fiction that others like you have enjoyed.</p>

  <p>Don't know what rational fiction is? It's fiction where the characters act as real humans would.<p>

  <p>Fiction which is driven by a conflict in values, not by 'evil' villians with contrived personas. Where the antagonists would kill the protagonist in the first chapter if they could.</p>

  <p>Fiction where heroes don't succeed based on improbable luck or magical brilliance. In our world, Sherlock Holmes would fail as a detective - he operates by magically finding the right clues and magically carrying out complicated chains of deducation. In our world, most clues are meaningless and most guesses are wrong.</p>

  <p>Fiction where nobody important is stupid, and where the characters that are smart actually are, not just described as being so.</p>

  <p>Rational fiction is fiction that tries to make sense as much as it tries to tell a good story. While some suspension of disbelief may be needed - neither magic nor timetravel is possible - the world will be internally consistent.</p>

  <p>For a quick peak, take a look at <a class="about-link" href="http://hpmor.com/chapter/64#storycontent">Lord of Rationality</a>, a snippet of a rational take on The Lord of The Rings.</p>
  <p><strong>Most fiction on this site is not rational fiction.</strong></p>

  <p>Most fiction on this site is fiction which meets some but not all of the above criteria. For example, many works, like Worm, contain illogical worlds, but characters which munchkin, try to understand the rules of their situation, and optimize.</p>

</div>

<div class="centered">
  <h1>Contact</h1>

  <p>For feedback, feature requests, and bugs, please reach Amit at amit {at} rationalreads {dot} com. Amit is a web developer looking for work. If you like this site and have a job, let me know!</p>

  <p>To suggest improvements to a work (e.g. add tags or change the description), please reach Matthew at mhochreader {at} gmail {dot} com. He is a college student who is double-majoring in Computer Science and Cognitive Science. He hopes to raise awareness of better thinking habits through interesting fiction.</p>
</div>
