<div class="centered">
  <h1>Contact</h1>

  <p>For feedback, feature requests, and bugs, please reach Amit at amitpamin {at} gmail {dot} com. Amit is a web developer working at the startup Asseta, who made this site because he wants to find the best fiction that meets his tastes.</p>

  <p>To suggest improvements to a work (e.g. add tags or change the description), please reach Matthew at mhochreader {at} gmail {dot} com. He is a college student who is double-majoring in Computer Science and Cognitive Science. He hopes to raise awareness of better thinking habits through interesting fiction.</p>
</div>
