<div class="centered">
  <h1>Recommendtions</h1>

    <p>Would you like to receive personalized recommendations? Then <a href="/session/new">log in</a> and rate works.</p>

    <p>The more works you rate, the better the recommendations you'll get.</p>

    <p>Not already a member? <a href="/users/new">Sign up</a>!</p>
</div>
