<div class="footer" id="footer">
  <div class="inner-footer">
    <div class="left">
      © 2015 Amit Amin
    </div>
    <div class="right">
      <a href="/#/contact">Contact</a>
    </div>
  </div>
</div>
